---
---

<div class="nav-links">
    <a href="/blog-astro-test/">Inicio</a>
    <a href="/blog-astro-test/about/">Sobre mi</a>
    <a href="/blog-astro-test/blog/">Blog</a>
    <a href="/blog-astro-test/tags/">Tags</a>
</div>